.add,.edit{
    height: 20px;
    background: #76db11;
    font-size: 14px;
    border-radius: 6px;
    font-size: 14px;
    border-radius: 6px;
    padding: 12px 13px 25px 13px;
    font-weight: bold;
}
.edit{
    background: #d7d07c;
    margin: 5px;
}
.space-add{
    display:inline-block;
}
.box-add{
    margin:70px;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    width: 735px;
}