.table{
    border: 1px solid black;
    text-align: center;
    margin:80px;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    margin-left: 245px;
    font-size: 20px;

    
}
.fila{
    border-bottom: 1px solid #bcb3b3;
    padding: 15px;
    background: #dad6d6;
    border-radius: 4px;
}
.input{
    border: 1px solid black;
}
.space-add{
    margin: 40px;
    
}
.title{
    text-align: center;
}
.eliminar{
    background: crimson;
    border-radius: 6px;
    padding: 11px 12px 10px 12px;
    font-size: 15px;
}